h4 {
  font-size: 18px;
  line-height: 1.5;
}
.about-bold {
  font-size: 19px;
}

img {
  width: 400px;
  height: auto;
}

input[type="checkbox"] {
  transform: scale(0.7); /* Increase size by 50% */
  -webkit-transform: scale(0.7); /* For Safari */
}
